<!DOCTYPE html>
<html lang="en">

<body>
  <div style="
        background-color: rgb(191, 191, 209);
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
      " id="nombreLogin">
    <h1 style="color: blue">Hasta luego <%= nombre %>
    </h1>
  </div>
</body>
<script>
  setTimeout( function() { window.location.href = '/' }, 2000);

</script>

</html>